# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# Виртуальное окружение
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Статические файлы и медиа (в разработке)
# /static/
# /media/
uploads/

# OS specific
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Файлы с переменными окружения
.env
.env.local 