# Базовая конфигурация
AddDefaultCharset utf-8
Options -Indexes +FollowSymLinks

# Обработка статических файлов
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^static/(.*)$ staticfiles/$1 [L]
    RewriteRule ^media/(.*)$ media/$1 [L]
</IfModule> 